/* TODO Add site wide styles */
/* @import url("https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@500;900&family=Quantico&family=Rajdhani:wght@700&display=swap"); */

.shop-grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  width: 100%;
  height: 100%;
}

.sidebar-buttons {
  width: 100%;
}

/* Dropdown classes */
